*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
}

.header{
    z-index: 1;
    background: #E3350D;
    width: calc(100% - 0%);
    height: 78px;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0 80px;
    top: 0;
}

.header .header-logo{
    width: 65px;
}

.header .header-title{
    width: 175px;
}

/*===================================================================================*/

.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    background-color: #eee;
    padding: 0 1.5rem;
    padding-bottom: 50px;
}

.main img{
    width: 100%;
}

.item{
    width: 100%;
    max-width: 98rem;
    padding: 5rem;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .2);
    display: flex;
    border-radius: .8rem;
    margin-top: 50px;
}

.item_img{
    min-width: 35rem;
    max-width: 35rem;
    height: 32rem;
    position: relative;
}

.item_img img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: .8rem;
}

.item_info{
    width: 100%;
    padding: 15px;
    background-color: #58585a;
    margin-left: 5rem;
    border-radius: .8rem;
}

.item_name{
    font-size: 3.5rem;
    margin-top: 20px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

.item_type{
    margin-top: 35px;
}

.item_type span{
    display: block;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 600;
    margin: .5rem 0;
    margin-left: 28px;
}

.type_list{
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
    color: #fff;
    width: 100%;
    padding-left: 44px;
}

.type_list li{
    background-color: #E3350D;
    border-radius: .9rem;
    align-content: center;
    height: 35px;
    margin-left: 20px;
    padding-top: 4px;
}

.type_list a{
    font-size: 19px;
    font-weight: 400;
    margin-right: 35px;
    margin-left: 30px;
}

.item_abilitys{
    margin-top: 30px;
}

.item_abilitys span{
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    margin-left: 28px;
}

.abilitys_list{
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
    color: #fff;
    width: 100%;
    padding-left: 44px;
}

.abilitys_list li{
    background-color: #9bcc50;
    border-radius: .9rem;
    align-content: center;
    height: 35px;
    margin-left: 20px;
    padding-top: 4px;
}

.abilitys_list a{
    font-size: 19px;
    font-weight: 400;
    margin-right: 35px;
    margin-left: 30px;
}